<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Place!</div>
        <div class="masthead-heading text-uppercase">Search Your Destination</div>
        <form action="submit">
            <div class="form-outline form-white">
                <input type="text" id="formWhite" class="form-control" />
                <label class="form-label" for="formWhite"></label>
            </div>
            <a class="btn btn-primary btn-xl text-uppercase" routerLink="#">Let's Go</a>
        </form>
    </div>
</header>
