<div class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm2">
          <img class="mb-4" src="../../assets/logo.png" alt="" width="auto" height="57">
          <h1 class="h3 mb-3 fw-normal mt-5">Admin Login</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control mt-2" id="floatingPassword" placeholder="Password" formControlName="pass">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg" type="submit" (click)="login()">Login</button>
          <button class="w-40 btn btn1 btn-lg" routerLink="/login">Sign In</button>
        </form>
      </main>
    </div>
      