<main>
    <div class="container py-4">
      
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Customized Search</h1>
          <p class="col-md-8 fs-4">Using a series of options, you can find a list of destinations, <b>personalized destinations</b>, just according to your need and preference. Check out the customizations and options.</p>
          <button class="btn btn-dark btn-lg" type="button">Let's Hop In</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Search Places by Seasons</h2>
            <p>You can look for beautiful destinations during their peak seasons and explore the beauty of landscapes and terrains with a twist of season and warmth</p>
            <button class="btn btn-outline-dark" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Search Places by Budget</h2>
            <p>Look for places according to your spending and your budget. Monitor your spendings in analytics tab and add your expenses day by day. Check out the search options.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2022
      </footer>
    </div>
    
  </main>